@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@use '@carbon/colors';

.formLabel {
    color: colors.$cool-gray-90;
    @include type.type-style('heading-compact-01');
    margin-bottom: layout.$spacing-03;
    margin-top: layout.$spacing-01;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
    .formContainer {
        margin: layout.$spacing-03 layout.$spacing-05;
        height: calc(100vh - 7rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
    .formContainer {
        margin: layout.$spacing-05 layout.$spacing-05;
        height: calc(100vh - 4rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.buttonSetContainer {
    width: 100%;
    margin-top: auto;

    &>button {
        max-width: 50% !important;
        height: 4rem;
    }
}